body {
  background: #191b1b;
}

#page {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 10px;
  background: #F5F5F5;
  color: #272828;
  font-family: Helvetica;
}

#header {
  margin-top:2.5em;
  margin-bottom: 0;
  margin-right: 3em; 
  margin-left: 0;
  padding-bottom:1.5em;
  float: left;
  width: 50%;
}

h1.name {
  text-align: right;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2.name {
  text-align: right;
  font-size: 152%;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none none solid none;
  border-color: #737373;
}

h3.contact {
  font-size: 122%;
}

h4.contact {
  font-size: 122%;
}
