body {
  background: #191b1b;
}

#page {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 10px;
  background: #F5F5F5;
  color: #272828;
  font-family: Georgia;
}

#hd {
  margin-top:2.5em;
  margin-bottom: 0;
  margin-right: 3em; 
  margin-left: 0;
  padding-bottom:1.5em;
  border-bottom: 1px solid ##737373;
}

h1.name {
  text-align: right;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
