body {
  background: #191b1b;
}

#page {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 80px;
  margin-left: 80px;
  padding: 2.5em;
  background: #F5F5F5;
  color: #272828;
  font-family: Helvetica;
  line-height: 1.25;
}

#header {
  margin-top:2.5em;
  margin-bottom: 0;
  margin-right: 3em; 
  margin-left: 3em;
  padding-bottom: 1.5em;
}

.photo {
  float: left;
  margin-top:2.5em;
  margin-right: 3em;
}

h1.name {
  text-align: right;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2.name {
  text-align: right;
  font-size: 152%;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none none solid none;
  border-color: #737373;
}

h3 {
  font-size: 122%;
}

h4 {
  font-size: 122%;
}

a { 
  color: #272828;
  text-decoration: none; 
}

a:hover { 
  color: #737373;
  text-decoration: none; 
}

header.relative {
  position: relative;
  width: 400px;
  height: 200px;
}

photo.absolute {
  position: absolute;
  top: 2.5em;
  right: 3em;
  width: 200px;
  height: 100px;
}

#body {
  margin-right: 3em; 
  margin-left: 3em;
  padding-bottom: 1.5em;
}

.sectiona {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-style: solid none double none;
  border-color: #737373;
}

.sectionb {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-style: none none double none;
  border-color: #737373;
}

.school {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-style: none none solid none;
  border-color: #737373;
}

h4.school {
  position: absolute;
  top: 0.35em;
  right: 0;
}

h5 {
  font-size: 100%;
}

h6 {
  font-size: 80%;
}

.skills {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-style: none none solid none;
  border-color: #737373;
}
